<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spittles!</title>
    <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">
    <style th:replace="header :: style"></style>
</head>
<body>
<div th:replace="header :: nav"></div>
<h1>Spittles!</h1>

<div class="addNew">
    <form method="post" name="spittle">
        <textarea name="message" cols="80" rows="5"></textarea>
        <input class="submit" type="submit" value="Add new spittle!"/>
    </form>
</div>

<ul class="spittleList">
    <li th:each="spittle : ${spittleList}" th:id="${spittle.id}">
        <div class="spittleMessage" th:text="${spittle.message}"></div>
        <span class="spittleTime" th:text="${spittle.date}"></span>
    </li>
</ul>

</body>
</html>